



.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 40px 12px 64px 12px;
}


.content{
    margin-right: 48px;

}

h1 {
  margin-bottom: 16px;
  text-align: left;
  font-size: 60px;
  line-height: 68px;
  font-weight: 600;
  color: #000000;
}

h2 {
  margin-bottom: 34px;
  font-size: 24px;
  font-weight: normal;
  color: #000000;
  opacity: 0.9;
}

.content p {
  margin-bottom: 34px;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.5);
}

p {
  margin: 0 0 20px 0;
}

.btn-readmore {
  margin-left: 5px;
  color: rgba(0, 0, 0, 0.5);
  text-decoration: underline;
  padding: 0;
  border: 0;
  border-radius: 0;
  background: none;
  font: inherit;
  outline: none;
}


.card{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 660px;
    padding: 50px 40px;
    border: 2px solid rgba(0, 0, 0, 0.14);
    background: #FFFFFF;

}

.image{
    width: 254px;
    height: 244px;
    margin-bottom: 44px;
    text-align: center;
}


.stats{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 28px;

}


.stats div{
    display: flex;
    flex-direction: column-reverse;
    width: 50%;

}


.stats p{
    margin: 0;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    color: #000000;
    opacity: 0.5;   

}


.stats h3{
    margin: 0 0 12px;
    font-size: 30px;
    line-height: 25px;
    color: #000000;

}

.card button{
    background-color: black;
    color: white;
    width: 100%;
    height: 48px;
    font-size: 16px;
    font-weight: 600;
    font-family: "Soleil", Arial, sans-serif;
    border-radius: 4px;

}