body{
  margin: 0;
  font-family: "Soleil", Arial, sans-serif;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}



body *{
  font-family: "Soleil", Arial, sans-serif;
  box-sizing: border-box;
}